<!DOCTYPE html>
<html>
<head>
    <title>IMDb Movie Ratings</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h1>IMDb Top 250 Movies</h1>
    <input type="text" id="searchBox" placeholder="Search movie...">

    <table id="movieTable">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

    <script src="../static/script.js"></script>

</body>
</html>